.detail-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;
    border: 1px solid #ccc;
}

.footer {
    margin-top: 100px ;
}


.right-column {
  width: 35%;
  margin-top: 60px;
}

.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  width: 400px;
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

.product-color {
  width: 400px;
  margin-bottom: 30px;
}

.product-color span {
  width: 400px;

}

/* .product-configuration {
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
} */

.color-choose div {
  display: inline-block;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}


.counter {
  display: inline;
  margin: 7px 5px;
}

.counter button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 2px 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.counter button:hover {
  background-color: #0056b3;
}

.counter input {
  text-align: center;
  font-size: 18px;
  width: 100px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.sizeName {
  font-size: 14px;
}

.size {
  margin-right:150px;
  margin: 0px 100px 0px 45px;
}