.detail-all h1 {
  font-size: 30px;
  font-weight: 700;
}

.detail-all .icon {
  height: 30px;
  width: 30px;
  color: orangered;
}
.img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-image img {
  width: 711.11px;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.sub-images {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center; /* Đây là phần thêm vào để căn giữa */
}
.sub-images img {
  width: calc(25% - 10px);
  max-height: 120px;
  object-fit: cover;
  border-radius: 8px;
  justify-content: center; /* Đây là phần thêm vào để căn giữa */
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.detailtop {
  display: flex;
  justify-content: "space-between";
  align-items: "center";
}
